.gameBoardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}

.gameBoardContainer > div {
  border: 2px solid purple;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}