* {
  padding: 0;
  margin: 0;

  --color1: #ff6cab;
  --color2: #7366ff;
  --color3: white;
}

body {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  background: #ff6cab;
  background: linear-gradient(311deg, #ff6cab 30%, #7366ff 100%);
  font-family: "Roboto", sans-serif;
}

header,
footer {
  padding: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

header {
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 4px;
}

.main {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto 1fr;
  position: relative;
}

.top,
.announce {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: white;
  grid-column: 1/-1;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.board-or-form {
  grid-area: 2/2/3/3;
  align-items: center;
  justify-content: center;
}

.form-container {
  position: absolute;
  justify-self: center;
  align-self: center;
}

.form-grid {
  display: grid;
  color: white;
  gap: 25px;
  font-size: 20px;
  font-weight: 300;
}

.label-input {
  display: grid;
  gap: 3px;
}

label {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

img.circle {
  font-size: 50px;
}

input {
  height: 2rem;
  border: none;
  outline: none;
  border: 2px solid rgba(115, 102, 255, 0.5);
  border-radius: 5px;
  font-size: 14px;
  padding: 0 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #5b51ca;
}
input:focus {
  border: 2px solid var(--color2);
}

button {
  appearance: none;
  padding: 0 1rem;
  height: 2rem;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
}

.gameBoardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 100px));
  grid-template-rows: repeat(3, minmax(50px, 100px));
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.gameBoardContainer > div {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;

  display: grid;
  justify-content: center;
  align-items: center;
}

img {
  height: 90%;
  opacity: 100%s;
}

.circle {
  height: 75%;
}
